# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Variable files (optional)
*.tfvars

# Sensitive files
*.pem
*.key

# macOS
.DS_Store

# Windows
Thumbs.db